*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifS;
}
.navbar{
    width: 90%;
    margin: auto;
    height: 80px;
    border: none;
    background-color: #414141;
}
ul{
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    font-size: 2rem;
    
   
}
ul li{
    display: inline;
    margin-left: 15px;
    
}
ul li span{
    background-color: green;
    padding: 17px;
    
}
.aboutmenu{
    margin-left: 750px;
}